[Unit]
Description=Dropbox client
After=network.target

[Service]
ExecStart=%h/.dropbox-dist/dropboxd
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
