[Desktop Entry]
Name=AmazonMusic
Comment=Launch with Steam Proton
Exec=~/Dropbox/Softwares/bin/proton_run 2780879895 "Amazon Music/Amazon Music.exe"
Icon=AmazonMusic.png
Terminal=false
Type=Application
Categories=Music;Player;
