[Desktop Entry]
Categories=Music;Player;
Exec=~/Dropbox/Softwares/app/deadbeef/deadbeef
Path=~/Dropbox/Softwares/app/deadbeef
Icon=deadbeef.png
Type=Application
MimeType=
Name=DeaDBeeF
GenericName=Music Player
StartupWMClass=deadbeef
