[Desktop Entry]
Name=Discord
Exec=~/Dropbox/Softwares/Discord/Discord
Path=~/Dropbox/Softwares/Discord/
Icon=discord.png

Categories=Network;InstantMessaging;
GenericName=Internet Messenger
MimeType=
Type=Application

StartupNotify=true
StartupWMClass=discord

X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
