[Desktop Entry]
Name=drawio
Exec=~/Softwares/drawio.AppImage
Icon=drawio.png
StartupWMClass=drawio
GenericName=Diagram Editor
Categories=Diagram;Editor;
Type=Application
MimeType=
StartupNotify=true
