[Desktop Entry]
Name=drawio
Exec=~/Softwares/drawio.AppImage
Icon=drawio.png

Categories=Diagram;Editor;
GenericName=Diagram Editor
Type=Application
MimeType=

StartupNotify=true
StartupWMClass=drawio
