[Desktop Entry]
Comment=
Exec=~/Dropbox/Backup/Linux/softwares/krita_amd64.appimage
Icon=calligrakrita
Name=Krita
Path[$e]=
StartupNotify=true
Type=Application
