[Desktop Entry]
Name=Krita
Exec=~/Softwares/krita.appimage
Icon=calligrakrita

Categories=Image;Editor;
GenericName=Image Editor
Type=Application

StartupNotify=true
