[Desktop Entry]
Name=OnlyOffice
Exec=~/Softwares/OnlyOffice.AppImage
Icon=onlyoffice.png

Categories=Office;
GenericName=Office
Type=Application
MimeType=

StartupWMClass=OnlyOffice
StartupNotify=true
