[Desktop Entry]
Categories=Browser;
Comment=
Exec=/home/hsi/Softwares/zen-browser/zen
GenericName=Browser
Icon=/home/hsi/Dropbox/Backup/Linux/configs/apps/icons/zen-browser.png
MimeType=
Name=zen-browser
NoDisplay=false
Path=~/Dropbox/Backup/Linux/configs/apps
StartupNotify=true
StartupWMClass=zen-browser
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
